body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

th, td {
  border: 1px solid black;
  min-width: 24px;
  height: 28px;
  text-align: center;
}

.input_letter {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid orange;
  background-color: white;
  color: initial;
  width: 18px;
  height: 18px;
  text-align: center;
}

#input_container {
  display: none;
  border: 1px solid;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  opacity: 0.7;
}

.hand_letter {
  font-weight: bold;
  display: inline-block;
  text-align: left;
  border: 1px dotted;
  margin: 10px;
  width: 24px;
  height: 24px;
  padding-top: 7px;
  padding-left: 9px;
}
.hand_letter_points {
  display: inline;
  font-size: 8pt;
}

.letters_left {
  display: inline-block;
  margin-left: 102px;
  width: 301px;
}

.player_name {
  display: inline-block;
  margin-left: 5px;
}

.tw {
  background-color:#E60000;
}
.dw {
  background-color:#F86969;
}
.tl {
  background-color:#3675FA;
}
.dl {
  background-color:#22ACD8;
}
.start {
  background-color:#ff5500;
}

.color_instruction {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
}

.score_container {
  padding: 10px;
}

#board {
  font-weight: bold;
}

#your_letters {
  margin-top: 10px;
}
